footer.footer.container
	section
		p 
			| #{appName} &copy;
			br 
			| Built by 
			a(href='http://www.twitter.com/_dhar') @_dhar
			br
			| Original Source available on 
			a(href='https://github.com/dharFr/Node-JS-bootstrap') Github 
